<!--
File name : About.cshtml
Author : Ritesh Patel, Parvati Patel, Himanshu Patel and Rutvik Patel
Website name : Ecommerce(http://pnpecommerce.azurewebsites.net/)
File description : About Page - Description of our team.    
-->
@{
    ViewBag.Title = "About";
}
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2 class="section-title">We are <span>P&P </span>Creative Web Developers Team</br></h2>
                    <p class="section-line">-A team that loves to create.  </p><!-- /.section-title -->

                </div>
            </div>
        </div>
    </div>
</div>
    <section id="about" class="about">

    <div class="container">
        <div class="tab-content">
            <div class="tab-pane fade in active">
                <p class="description">
                    P&P Limited is a creative web developers team and we love what we do. Our goal is to create conceptually interesting and visually stunning websites. Our Team members have expertised skills in c# Windows form, c# Web forms, Java, mysql, PHP, C++, MVC technologies.
                </p><!-- /.description -->

                <img src="~/Assests/Images/DSC_0332.jpg" />

                <div class="col-lg-3">

                    <p class="about-name">Ritesh Patel</p><!-- /.item-title -->
                    <p class="description">
                        <br />
                        Area of expertise:-C#, MVC, Express js, mysql, java, ASP.NET.
                    </p><!-- /.item-description -->
                </div><!-- /.item-details -->

                <div class="col-lg-3">

                    <p class="about-name">Parvati Patel</p><!-- /.item-title -->
                    <p class="description">
                        <br />
                        Area of expertise:-Documentation, MVC, html, mysql.
                    </p><!-- /.item-description -->
                </div><!-- /.item-details -->

                <div class="col-lg-3">

                    <p class="about-name">Himanshu Patel</p>
                    <p class="description">
                        <br />
                        Area of expertise:-Express js, Android, C#, MVC.
                    </p><!-- /.item-description -->
                </div><!-- /.item-details -->

                <div class="col-lg-3">
                    <p class="about-name">Rutvik Patel</p><!-- /.item-title -->
                    <p class="description">
                        <br />
                        Area of expertise:-C#, MVC, java, c, mysql.
                    </p><!-- /.item-description -->
                </div><!-- /.item-details -->


            </div>
        </div>
    </div>
</section>
