@model E_commerce.Models.Item
<!--
File name : ItemDetails.cshtml
Author : Ritesh Patel, Parvati Patel, Himanshu Patel and Rutvik Patel
Website name : Ecommerce(http://pnpteam.azurewebsites.net/)
File description : Item Page - Description of a specific item.
-->

@{
    ViewBag.Title = "ItemDetails";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>ItemDetails</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @{ Html.RenderAction("CategoryBar", "Home");}
            </div>
            <div class="col-md-8">
                <div class="product-content-right">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="~/Assests/Uploads/Items/Originals/@Model.ThumbUrl" alt="@Model.Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">@Model.Name</h2>
                                <div class="product-inner-price">
                                    @if (Model.Tag == "sale")
                                    {
                                        double price = (double)Model.Price * 1.25;
                                        <ins>$@Model.Price</ins> <del>$@price</del>
                                    }
                                    else
                                    {
                                        <ins>$@Model.Price</ins>
                                    }
                                </div>

                                <div class="cart">
                                    @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.IID }, new { @class = "add_to_cart_button" })

                                </div>





                            </div>
                            <div>
                                <br/>
                                <h2>Product Description</h2>
                                <p>@Model.Description</p>
                            </div>
                        </div>
                        

                    </div>



                </div>
            </div>

            </div>
        </div>
    </div>

            