@model E_commerce.Models.Order
@{
    ViewBag.Title = "Order Confirmed";
}
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Checkout Complete</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->
<div class="col-md-offset-2 col-md-8">
    <br/>

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Invoice Detail</legend>
        @{Html.RenderAction("CompleteCheckout", "CheckoutController", new { id = Model.OrderId });}
        </fieldset>
    </div>