<!--
File name : Info.cshtml
Author : Ritesh Patel, Parvati Patel, Himanshu Patel and Rutvik Patel
Website name : Ecommerce(http://pnpteam.azurewebsites.net/)
File description : CartSummary Page - partial view for the box of.
-->

<a href="@Url.Action("Index","ShoppingCart")">Cart - <span class="cart-amunt">@ViewData["CartTotal"]</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">@ViewData["CartCount"]</span></a>
