@{
   ViewBag.Title = "Info";
}
<!--
File name : Info.cshtml
Author : Ritesh Patel, Parvati Patel, Himanshu Patel and Rutvik Patel
Website name : Ecommerce(http://pnpteam.azurewebsites.net/)
File description : Info Page - Info page.
-->
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-offset-2 col-md-8">
    <div class="divborder">
        <h3>@ViewBag.Message</h3>
    </div>
    </div>
 

